Repository mojohaus/aspectj-maven-plugin, pull requests merged in 2021-05, with the labels that each got.

#81 Add Github actions upgrade parent pom
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/maven.yml
  .github/workflows/release-drafter.yml
  pom.xml
  src/it/AnnotationProcessingOutput/pom.xml
  src/it/AnnotationProcessingOutput/verify.groovy
  src/main/java/org/codehaus/mojo/aspectj/AbstractAjcCompiler.java
  src/main/java/org/codehaus/mojo/aspectj/AbstractAjcMojo.java
  src/main/java/org/codehaus/mojo/aspectj/AjcCompileMojo.java
  src/main/java/org/codehaus/mojo/aspectj/AjcHelper.java
  src/main/java/org/codehaus/mojo/aspectj/AjcReportMojo.java
  src/main/java/org/codehaus/mojo/aspectj/AjcTestCompileMojo.java
  src/main/java/org/codehaus/mojo/aspectj/CompilationFailedException.java
  src/main/java/org/codehaus/mojo/aspectj/EclipseAjcMojo.java
  src/main/java/org/codehaus/mojo/aspectj/MavenMessageHandler.java
  src/test/java/org/codehaus/mojo/aspectj/AbstractAjcCompilerTest.java
  src/test/java/org/codehaus/mojo/aspectj/AjcHelperTest.java
Labels: enhancement, github_actions

#74 allow up to java version 15
  src/main/java/org/codehaus/mojo/aspectj/AjcHelper.java
Labels: enhancement, java

#42 added generic compiler args setting
  src/main/java/org/codehaus/mojo/aspectj/AbstractAjcCompiler.java
Labels: enhancement

#87 Support up to java 16
  .github/workflows/maven.yml
  pom.xml
  src/main/java/org/codehaus/mojo/aspectj/AjcHelper.java
  src/site/apt/multimodule/multimodule_strategy.apt.vm
  src/site/uml/multimodule_ajc.puml
Labels: enhancement, java

#86 update workflow, fast fail on single JVM, then others.
  .github/workflows/maven.yml
  src/main/java/org/codehaus/mojo/aspectj/AbstractAjcCompiler.java
Labels: github_actions

#90 update maven dependencies
  pom.xml
Labels: dependencies
